TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

REDIS_HOST=localhost
REDIS_PORT=6379

NGINX_LOG_PATH=/var/log/nginx/access.log

BOTNET_THRESHOLD=20
TIME_WINDOW=30

BAN_ENABLED=true
BAN_TIME=600
MOCK_MODE=true
POSTGRES_DSN=postgresql://user:password@localhost:5432/security_bot
