# Telegram Configuration
TELEGRAM_BOT_TOKEN=your_token_here
TELEGRAM_CHAT_ID=your_id_here

# Redis Configuration (Local test/Docker)
REDIS_HOST=localhost
REDIS_PORT=6379

# MySQL Configuration (Production Analytics)
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=security_user
MYSQL_PASSWORD=password
MYSQL_DB=security_bot

# Security Settings
MOCK_MODE=false
BAN_TIME=86400  # 24 Hours in seconds
SSH_MAX_ATTEMPTS=5
SSH_TIME_WINDOW=600

# Path to NGINX logs
# Default for Docker: /var/log/nginx/access.log
# Default for Local Mock: ./test_access.log
NGINX_LOG_PATH=/var/log/nginx/access.log
SSH_LOG_PATH=/var/log/auth.log
